*
{
    padding: 0;
    margin: 0;
}

/* Nav */
#logo
{
    align-items: center;
    width: 130px;
    height: auto;
    margin-top: 20px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navtext:hover
{
    font-family: sulphur point;
    display: inline-block; 
    color: #586CB0; 
    cursor:pointer;
}

/* Footer */
#footerlogo
{
    margin-top: 25px;
}

#footerbox
{
    font-family: sulphur point;
    background: black;
    text-align: center;
    color: white;
    height: 170px;
    margin-top: 100px;
}

#footerbottom
{
    font-family: 'Sulphur Point';
    padding: 1em;
    text-align: center;
    background: #586CB0;
    color: white;
}

.icon
{
    margin-top: 23px;
    width: 45px;
    height: auto;
    padding-right: 5px;
    margin-left: 5px;
}

/* Home Page */
#carhome
{
    position: relative;
    width: 100vw;
    height: auto;
}

#rent
{
    /*background-image: url(/assets/carleft.jpeg); */
    color:cornsilk;
    font-family: 'League Gothic';
    background: linear-gradient(90deg, rgba(255,81,0,1) 0%, rgba(255,249,166,1) 75%, rgba(255,254,227,1) 100%);
    height:200px;
    padding-top: 50px;
    padding-left: 80px;
    font-size: 1.5cm;
    text-decoration: none;
}

#spare
{
    color: mintcream;
    font-family: 'League Gothic';
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(0,212,255,1) 100%);
    height:200px;
    padding-top: 50px;
    padding-right: 80px;
    font-size: 1.5cm;
    text-align: right;
    text-decoration: none;
}

#navtext
{   
    position: relative;
    display: inline-block;
    text-align: "right";
}

/* Form Page */
.bgcar
{
    background-image: url(assets/bgcarsignin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#form
{
    font-family: 'Sulphur Point';
    background-color: white;
    margin: 20px auto 0 auto;
    width: 300px;
    padding: 30px;
}

.field
{
    border: 0.5px solid black;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 7px;
    padding-right: 143px;
}

#signin
{
    text-align: center;
    font-family: 'Sulphur Point';
    font-size: xx-large;
}

#submit
{
    border-style: none;
    background-color: #586CB0;
    padding: 10px 20px;
    display: block;
    margin: auto;
    cursor: pointer;
    font-family: 'Sulphur Point';
    margin-top: 10px;
    margin-bottom: -10px;
    color: white;
}

.logocenter
{
    padding-top: 40px;
}

#footertext
{
    font-family: 'Sulphur Point';
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

#login
{
    text-align: center;
}

/* Additional/Extra Page (About Us) */
.sul
{
    font-family: 'Sulphur Point';
}

#about
{
    background-color: black;
    color: white;
    height: 130px;
    padding-top: 25px;
}

#vis
{
    position: relative;
    background-color: #586CB0;
    color: white;
    height: 125px;
    padding-top: 25px;
}

#mis
{
    position: relative;
    color: black;
    height: 25px;
    padding-top: 25px;
}

#aboutpage
{
    overflow: hidden;
}

#hov:hover
{
    font-family: 'League Gothic';
    color: white;
    background-color: aqua;
    cursor:pointer;
}
